= simple_form_for([:admin, @current_user], url: '/profiles/update_password', method: :patch) do |f|
  = f.error_notification
  - # [review] i18nで定義(ja.ymlなど)して、label指定を無くしたいです
  = f.input :password, label: 'パスワード'
  = f.input :password_confirmation, label: 'パスワード（確認用）'
  = f.button :submit, '更新する'