= simple_form_for([:admin, @current_user], url: '/profiles', method: :patch) do |f|
  = f.error_notification
  = f.input :password, label: 'パスワード', input_html: { size: 30 }
  = f.input :password_confirm, label: 'パスワード（確認用）', input_html: { size: 30 }
  = f.button :submit, '更新する'