= simple_form_for([:admin, @current_user], url: '/profiles/update_password', method: :patch) do |f|
  = f.error_notification
  = f.input :password, label: 'パスワード'
  = f.input :password_confirm, label: 'パスワード（確認用）'
  = f.button :submit, '更新する'