= simple_form_for([:admin, @user], url: '/sign_up', method: :post) do |f|
  = f.error_notification
  = f.input :name, label: '名前'
  = f.input :email, label: 'メールアドレス'
  = f.input :password, label: 'パスワード'
  = f.input :password_confirmation, label: 'パスワード（確認用）'
  = f.button :submit, 'アカウントを作成する'
