.well
  = form_for @order, remote:true, html: {role: :form, 'data-model' => 'order'} do |f|

    - if @order.errors.any?
      #error_explanation
        %h2 #{pluralize(@order.errors.count, "error")} prohibited this person from being saved:

        %ul
        = @order.errors.full_messages.each do |msg|
          %li #{msg}

    .row
      = f.submit "確定する", class: "btn btn-primary"
    .row
      .col-xs-6
        %h3 配達希望時間
        = f.collection_radio_buttons :ship_time_id, ShipTime.active_list, :id, :display_name
      .col-xs-6
        %h3 配達希望
        = f.collection_radio_buttons :ship_date, ship_date_list, :first, :last
