%h3 ユーザ編集
= simple_form_for [:admin, @user] do |f|
  = f.error_notification
  = f.input :name, label: '名前'
  = f.input :email, label: 'メールアドレス'
  = f.input :password, label: 'パスワード'
  = f.input :password_confirmation, label: 'パスワード（確認用）'
  = f.button :submit, '更新する'
= link_to 'ユーザ一覧に戻る', admin_users_path
