%p#notice= notice
%h3 ユーザ一覧
%table
  %thead
    %tr
      %th 名前
      %th メールアドレス
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to '詳細', [:admin, user]
        %td= link_to '編集', edit_admin_user_path(user)
        %td= link_to '住所編集', edit_admin_user_address_path(user)
        %td= link_to '削除', [:admin, user], method: :delete, data: { confirm: '削除してもよろしいですか？' }
%br/
= link_to '新規作成', new_admin_user_path
